.nhome{
    background-color: white;
    border: none;
}


.logo{
    color: blue;
}

.logo{
    padding-left: 64px;
    padding-right: 68px;
    font-size: x-large;
    font-weight: inherit;
}

    .para1 {
    font-size: 77px;
    font-weight: bold;
}

.para1a{
    margin: 50px 0 10px;
    font-size: 23px;
    font-style: oblique;
}

.but {
    color: #fff;
    background-color: #000;
    border-color: #ccc;
    border-radius: 23px;
    
}

.im2 {
    border: 0;
    padding-top: 84px;
}


.im1 {
    border: 0;
    padding-top: 40px;
    height: 404px;
}

.para2{
    width: 50%;
    padding-top: 94px;
}

.para2a{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: unset;
}

.r1 {
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 143px;
}

.para3{
    font-size: 30px;
    font-weight: 800;
    padding-left: 71px;
}

but1{
    margin-right: 40px;
    padding-right: 40px;
    border-right: 40px;
}

.but1{
    color: black;
    font: inherit;
    border-radius: 30px;
    margin-right: 48px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 50px;
    border:none ;
}

.easy{
    font-size: 39px;
}

.bog{
    box-align: center;
}